---
layout: default
---

<article class="post-article">
  <div class="post-header literature-header">
    {% if page.category %}
      <p class="post-category">{{ page.category }}</p>
    {% endif %}

    <div class="literature-meta">
      {% if page.author %}
        <h1 class="literature-author">{{ page.author }}</h1>
      {% endif %}

      {% if page.book_title %}
        <p class="literature-book-title">{{ page.book_title }}</p>
      {% endif %}

      {% if page.publication_date %}
        <p class="literature-publication-date">{{ page.publication_date }}</p>
      {% endif %}
    </div>
  </div>

  <div class="post-content">
    <div class="post-body">
      {{ content }}
    </div>
  </div>

  <p class="post-footer"><a href="#top">Haut de page</a></p>
</article>
